<div class="max-w-7xl mx-auto">

  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5 py-6">
    <aside class="py-6 px-2 sm:px-6 lg:col-span-3 lg:py-0 lg:px-0">
      <nav class="space-y-1">
        <!-- Current: "bg-gray-50 text-blue-700 hover:bg-white hover:text-blue-700", Default: "text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
        <a [routerLink]="['/setting/account']"
           routerLinkActive="bg-gray-50 text-blue-700 hover:bg-white hover:text-blue-700"
           class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium"
           aria-current="page">
          <!-- Current: "text-blue-500 group-hover:text-blue-500", Default: "text-gray-400 group-hover:text-gray-500" -->
          <svg routerLinkActive="text-blue-500 group-hover:text-blue-500"
               class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <span class="truncate">Account</span>
        </a>
        <a [routerLink]="['/setting/password']"
           routerLinkActive="bg-gray-50 text-blue-700 hover:bg-white hover:text-blue-700"
           class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
          <i class="fa-solid fa-lock fa-lg flex items-center
                          text-gray-400 group-hover:text-gray-500 mr-1 h-8 w-8 flex-shrink-0
                    "></i>
          <span class="truncate">Password</span>
        </a>
        <!-- <a [routerLink]="['/setting/notification']"
           routerLinkActive="bg-gray-50 text-blue-700 hover:bg-white hover:text-blue-700"
           class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
          <i class="fa-solid fa-bell fa-lg flex items-center
                  text-gray-400 group-hover:text-gray-500 mr-1 h-8 w-8 flex-shrink-0
            "></i>
          <span class="truncate">Notification</span>
        </a> -->
      </nav>
    </aside>

    <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
