<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-card py-2">
    <div class="card mb-0">
      <div class="card-body">

        <h4 class="card-title mb-1">Welcome to DEVER! 👋</h4>
        <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>

        <form class="mt-2"
              [formGroup]="loginForm"
              (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="login-email"
                   class="form-label">Email</label>
            <input type="text"
                   formControlName="email"
                   class="form-control"
                   placeholder="user@example.com"
                   aria-describedby="login-email"
                   tabindex="1"
                   autofocus />
            <!--
                TODO validation
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

               -->
            <!-- <div *ngIf="submitted && f.email.errors"
             class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div> -->
          </div>

          <div class="form-group mt-2">
            <div class="d-flex justify-content-between">
              <label for="login-password">Password</label>
              <!-- <a routerLink="/pages/authentication/forgot-password-v1">
                <small>Forgot Password?</small>
              </a> -->
            </div>

            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="'password'"
                     formControlName="password"
                     class="form-control form-control-merge"
                     tabindex="2"
                     placeholder="·········"
                     aria-describedby="login-password" />
              <!--[ngClass]="{ 'is-invalid error': submitted && f.password.errors }"

                  TODO forgot password
          <div class="input-group-append">
            <span class="input-group-text cursor-pointer"><i class="feather font-small-4"
                 [ngClass]="{
                          'icon-eye-off': passwordTextType,
                          'icon-eye': !passwordTextType
                        }"
                 (click)="togglePasswordTextType()"></i></span>
          </div>
        </div>
        <div *ngIf="submitted && f.password.errors"
             class="invalid-feedback"
             [ngClass]="{ 'd-block': submitted && f.password.errors }">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div> -->
            </div>
          </div>
          <button class="btn btn-primary btn-block w-100 mt-4"
                  tabindex="4"
                  (click)="onLogin()"
                  rippleEffect>Sign in</button>


        </form>

        <p class="text-center mt-2">
          <span>New on our platform? &nbsp;</span>
          <a routerLink="auth/register">
            <span>Create an account</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
