/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .auth-card {
    width: 400px;
    position: relative;
  }


}
